{:changed-files-limit 60
 :allowed-branchname-matches ["main" "release-.*"]
 :allowed-filename-matches ["windows/"]
 
 :use-gh-statuses true
 
 :targets 
   {
     :counts {
              ;;:correctness 13
              ;;:total 15 ;; 
              ;;:issues 15 ;;
              ;;:correctness 13 ;;
             }
     :scores {
              ;;:terminology 100
              :qualityscore 80 ;; 
              ;;:correctness 40
             }
   }
 
 :guidance-profile "d2b6c2c8-00ee-47f1-8d10-b280cc3434c1" ;; Profile ID for "M365-specific"
 
 :template-header

 "

## Acrolinx Scorecards 
 
**The minimum Acrolinx topic score of 80 is required for all Magic content merged to the default branch.**

If you need a scoring exception for content in this PR, add the *Sign off* and the *Acrolinx exception* labels to the PR. The PubOps Team will review the exception request and may take one or more of the following actions:

- Work with you to resolve the issues requiring the exception.
- Escalate the exception request to the Acrolinx Review Team for review.
- Approve the exception and work with the GitHub Admin Team to merge the PR to the default branch.

For more information about the exception criteria and exception process, see [Minimum Acrolinx topic scores for publishing](https://review.docs.microsoft.com/en-us/office-authoring-guide/acrolinx-min-score?branch=main).
 
Select the total score link to review all feedback on clarity, consistency, tone, brand, terms, spelling, grammar, readability, and inclusive language. _You should fix all spelling errors regardless of your total score_. Fixing spelling errors helps maintain customer trust in overall content quality.

| Article | Total score<br>(Required: 80) | Words + phrases<br>(Brand, terms) | Correctness<br>(Spelling, grammar) | Clarity<br>(Readability) |
|---------|:--------------:|:--------------------:|:------:|:---------:|
"

 :template-change
 "| ${s/status} ${s/file} | [${acrolinx/qualityscore}](${acrolinx/scorecard}) | ${acrolinx/scores/words_and_phrases} | ${acrolinx/scores/correctness} | ${acrolinx/scores/clarity} |
"
 
 :template-footer
 "
**More information about Acrolinx**
 
- [Install Acrolinx locally for VSCode for Magic](https://review.docs.microsoft.com/office-authoring-guide/acrolinx-vscode?branch=main)
- [False positives or issues](https://aka.ms/acrolinxbug)
- [Request a new Acrolinx term](https://microsoft.sharepoint.com/teams/M365Dev2/SitePages/M365-terminology.aspx)
- [Troubleshooting issues with Acrolinx](https://review.docs.microsoft.com/help/contribute/acrolinx-error-messages)

"
}
