log/
xhtml/
packages/
obj/
_site/
Tools/NuGet/
.optemp/

.openpublishing.build.mdproj
.openpublishing.buildcore.ps1
packages.config
browsers/internet-explorer/ie11-deploy-guide/change-history-for-internet-explorer-11.md