<ViewerConfig>
  <QueryConfig>
    <QueryParams>
      <Simple>
        <Channel>Microsoft-Windows-Windows Defender/Operational,Microsoft-Windows-Windows Defender/WHC</Channel>
        <EventId>1</EventId>
        <RelativeTimeInfo>0</RelativeTimeInfo>
        <BySource>False</BySource>
      </Simple>
    </QueryParams>
    <QueryNode>
      <Name>Test view</Name>
      <QueryList>
        <Query Id="0" Path="Microsoft-Windows-Windows Defender/Operational">
          <Select Path="Microsoft-Windows-Windows Defender/Operational">*[System[(EventID=1)]]</Select>
          <Select Path="Microsoft-Windows-Windows Defender/WHC">*[System[(EventID=1)]]</Select>
        </Query>
      </QueryList>
    </QueryNode>
  </QueryConfig>
</ViewerConfig>